body {
  padding: 0;
  margin: 0;
}
nav {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #4caf50;
  justify-content: space-between;
}
.navbar-container {
  background-color: #4caf50;
  padding: 10px 20px;
  justify-content: space-between;
  width: 100%;
  z-index: 4px;
  position: fixed;
  top: 0;
}
#nav-toggle {
  display: none;
}
.nav-toggle-label {
  /* display: none; */
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  color: #fff;
  padding: 5px;
  background-color: #4caf50;
}

#logo {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  color: #333;
  display: flex;
  align-items: center;
}
#logo img {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}

#logo span {
  margin-left: 0px;
}
.menu-content {
  flex: 1;
  text-align: flex-end;
  margin-left: 0px;
}
.nav-links {
  flex: 1;
}
.nav-links a {
  text-decoration: none;
  margin-left: 10px;
  color: #555;
}
.menu-kanan {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.menu-kanan a {
  text-decoration: none;
  color: #555;
  margin-left: 10px;
}

.nav a:hover {
  color: #000;
}

.container {
  margin: 10px auto;
  padding: 10px;
  display: flex;
  background-color: #f2db80;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 90px;
}
.container h1 {
  font-size: 32px;
  margin: 20px;
  margin-left: 60px;
}
.row {
  margin: 20px 0;
}

.container button {
  background-color: #4caf50;
  color: white;
  border-radius: 12px;
  border: none;
  padding: 5px 10px;
  font-size: 12px;
  margin-left: 60px;
  cursor: pointer;
}
.container button:hover {
  opacity: 0.8;
}
.tombol {
  padding: 10px auto;
  margin-left: 145px;
}
.right-button {
  list-style: none;
  float: right;
  padding: 0;
  margin-right: 30px;
  transition: background-color 0, 3s;
}
.left-button {
  list-style: none;
  border-radius: 20px;
  float: left;
  padding: 0;
  margin-left: 10px;
}
.btn-list {
  background-color: rgb(231, 228, 228);
  color: black;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.btn-list:hover {
  opacity: 0.8;
}
h2 {
  margin-left: 155px;
}
.card-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}
.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 250px;
  background-color: #f8f8f8;
  transition: transform 0.2;
}
.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: transform 0.2;
}
.card-body {
  text-align: left;
}
.card-body h5 {
  font-size: 20px;
  margin-bottom: 5px;
}
.card-body p {
  margin-bottom: 15px;
}
.card-body button {
  display: flex;
  padding: 10px 20px;
  background-color: #d3d3d3;
  color: #000;
  border-radius: 12px;
  border: 2px;
  cursor: pointer;
  transition: background-color 0.5s;
}
.card-body button:hover {
  opacity: 0.8;
  background-color: #0f4d11;
}

@media screen and (max-width: 900px) {
  .menu-content,
  .menu-kanan {
    display: none;
  }

  .nav-toggle-label {
    display: block;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
  }
  .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #4caf50;
  }
  .nav-links a {
    text-align: center;
    padding: 10px;
    color: #fff;
  }
  .nav-toggle:checked ~ .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #4caf50;
  }
}
